.detailed-cat-image {
    height: 300px;


}
.hovered {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.phone-block {
    height: 36px;
}
.modal {
    display: block;
}

.phone-enter-active, .phone-leave-active {
    transition: all .5s;
}
.phone-enter, .phone-leave-to {
    transform: translateX(50px);
    opacity: 0;

}
.modal-enter-active, .modal-leave-active {
    transition: all .5s;
}
.modal-enter, .modal-leave-to {
    transform: translateY(-200px);
    opacity: 0;
}

.fade-enter-active {
    animation: .75s fade forwards;
}
.fade-leave-active {
    animation: .75s fade reverse;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: .5;
    }
}




